  <!-- <ng-container *ngIf="mostrar == false; then ver; else editar"></ng-container> -->

  <!-- cabezal sidebar -->
  <section class="list-header-container" >
      <button (click)="hide()" class="list-header-tab"><p class="">Listado de organizaciones</p></button>
      <button (click)="show()" class="list-header-tab"><p class="">Editar organizaciones</p></button>
  </section>

  <!-- <ng-template #ver> -->
    <section>

      <h3>Organizaciones</h3>

        <!-- Busqueda & Filtro -->
        <input type="text" class="form-control" placeholder="Buscar o filtrar organizaciones" [(ngModel)]="searchTerm"/>
        
        <!-- Listado -->
            <ul *ngFor="let organizacion of organizacionList | organizacion: searchTerm">
              <li class="item">
                <div class="item-bloque-titulo">

                  <span class="badge">{{ organizacion.tipo }}</span>
                  <div class="item-titulo">{{ organizacion.nombre }}</div>

                    <div class="item-bloque-subtitulo">
                      <!-- <p class="item-subtitulo">{{ organizacionService.selectedOrganizacion.ubicacion.municipios[1].nombre }}</p> -->
                      <p>{{ organizacion.capacitados }}</p>
                    </div>
                </div>

                <div class="badge-container">

                  <!-- Binding de iconos -->
                  <div class="badge-modulos"><i class="adi" [ngClass]="organizacion.mpi ? 'adi-rup-semantic-plan' : ''"></i></div>
                  <div class="badge-modulos"><i class="adi" [ngClass]="organizacion.citas ? 'adi-rup-semantic-trastorno' : ''"></i></div>
                  <div class="badge-modulos"><i class="adi" [ngClass]="organizacion.rup ? 'adi-rup-semantic-hallazgo' : ''"></i></div>
                  <div class="badge-modulos"><i class="adi" [ngClass]="organizacion.top ? 'adi-rup-semantic-producto' : ''"></i></div>
                
                  <button href="" class="btn btn-secondary text-white" (click)="onEdit(organizacion)">EDITAR</button>
                  <button (click)="onDelete(organizacion.$key)">BORRAR</button>

                </div>                

                </li>
            </ul>
      </section>
  <!-- </ng-template>
  <ng-template #editar> -->
    <app-list-editar>

    </app-list-editar>
  <!-- </ng-template> -->