
  <!-- editar organizacion -->
  <section>
    <form  #organizacionForm = "ngForm" (ngSubmit)="onSubmit(organizacionForm)">
      <fieldset>
        <legend>Informacion basica</legend>
          <input type="hidden" class="input-modulo" name="$key" #$key="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.$key">        
          <input type="text" class="input-modulo" name="nombre" #nombre="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.nombre" placeholder="Agregue organizacion" >        
          <input type="text" class="input-modulo" name="capacitados" #capacitados="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.capacitados" placeholder="Agregue cantidad de capacitados">
          <input type="text" class="input-modulo" name="tipo" #tipo="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.tipo  " placeholder="seleccione tipo de organizacion">        
              
          <app-select>

          </app-select>

      </fieldset>

      <!-- Checkbox Modulos: TODO: Que el componente chekbox recorra un array de modulos y no las propiedades de un objeto -->
      <fieldset class="checkbox">
          <legend>Seleccione los modulos implementados en la organizacion</legend>
          <!-- <label for="" *ngFor="let modulo of organizacionService.selectedOrganizacion.modulos"> -->
          <!-- <input type="checkbox" name="modulos" #modulos="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.modulos" >{{ modulo }} -->

          <i class="adi adi-rup-semantic-plan"></i><input type="checkbox" class="input-modulo" name="mpi" #mpi="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.mpi" value="false" > {{ organizacionService.selectedOrganizacion.mpi }} 
          <input type="checkbox" name="citas" #citas="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.citas" value="false" >{{ organizacionService.selectedOrganizacion.citas }}
          <input type="checkbox" name="rup" #rup="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.rup" value="false" >{{ organizacionService.selectedOrganizacion.rup }}
          <input type="checkbox" name="top" #top="ngModel" [(ngModel)]="organizacionService.selectedOrganizacion.top" value="false" >{{ organizacionService.selectedOrganizacion.top }}
      </fieldset>
      <div>
          <button class="btn btn-primary" type="submit">Agregar</button>
          <button class="btn btn-secondary" type="reset" (click)="resetForm(organizacionForm)">Reset</button>
      </div>
    </form>
  </section>