<section>
  <form [formGroup]="organizacionForm" (ngSubmit)="onSubmit(organizacionForm)">
    <fieldset>
     <legend>Informacion basica</legend>
        <input type="hidden" formControlName="$key" name="$key" >
        <input type="date" formControlName="fecha" name="fecha" >
        <input type="number" formControlName="capacitados" placeholder="Agregue cantidad de capacitados" name="capacitados" >
        <textarea formControlName="nota" name="nota" id="" cols="30" rows="10" minlength="1" placeholder="Agregar nota"></textarea>

        <!-- Select Municipios -->
        <app-select>

        </app-select>
    </fieldset>

    <!-- Select Modulos -->
    <fieldset class="checkbox">
      <app-checkbox>

      </app-checkbox>
    </fieldset>
    <div>
        <button class="btn btn-primary" type="submit">Agregar</button>
        <button class="btn btn-secondary" type="reset" (click)="resetForm(organizacionForm)">Reset</button>
    </div>
    <div>{{ organizacionForm.value | json }}</div>
  </form>
</section>