<section id="altaImplementacion">
  <header class="flex-h">
    <h3>Nueva implementación</h3>
  </header>
  <hr class="w-100">
  <form [formGroup]="organizacionForm" (ngSubmit)="onSubmit(organizacionForm)">
      <input type="hidden" formControlName="$key" name="$key" >
      <!-- Select Efectores -->
      <app-select>
        
      </app-select>
      <div class="flex-h">
        <!-- Fecha -->
        <div class="flex-v">
          <h5>Fecha</h5>
          <input type="date" formControlName="fecha" name="fecha" >
        </div>
        <!-- Capacitados -->
        <div class="flex-v">
          <h5>Capacitados</h5>
          <input id="capacitados" type="number" formControlName="capacitados" placeholder="0" name="capacitados" >
        </div>
      </div>

      <!-- Select Modulos -->
      <app-checkbox>

      </app-checkbox>
  
      <!-- Anotaciones -->
      <h5>Observaciones</h5>
      <textarea class="w-100" formControlName="nota" name="nota" id="" rows="7" minlength="1" placeholder="Agregar nota"></textarea>
    <!-- <div>{{ organizacionForm.value | json }}</div> -->
  </form>
  <div class="botonera flex-h items-end">
    <button class="warning" type="reset" (click)="resetForm(organizacionForm)">Reset</button>
    <button class="success" type="submit" (click)="onSubmit(organizacionForm)">Agregar</button>
  </div>
</section>