<section>
  <form [formGroup]="organizacionForm" (ngSubmit)="onSubmit(organizacionForm)">
    <fieldset>
     <legend>Informacion basica</legend>
        <input type="hidden" formControlName="$key" name="$key" >
        <input type="text" formControlName="nombre" name="nombre" >
        <input type="text" formControlName="tipo" placeholder="seleccione tipo de organizacion" name="tipo" >
        <input type="number" formControlName="capacitados" placeholder="Agregue cantidad de capacitados" name="capacitados" >

        <!-- Select Municipios -->
        <app-select>

        </app-select>

          <div>{{ organizacionForm.value | json }}</div>
    </fieldset>

    <!-- Checkbox Modulos: TODO: Que el componente chekbox recorra un array de modulos y no las propiedades de un objeto -->
    <fieldset class="checkbox">
        <legend>Seleccione los modulos implementados en la organizacion</legend>
        <!-- <label for="" *ngFor="let modulo of organizacionService.selectedOrganizacion.modulos"> -->
        <i class="adi icon-mano-corazon"></i><input type="checkbox" name="mpi" formControlName="mpi" value="false" >{{ organizacionService.selectedOrganizacion.mpi }} 
        <input type="checkbox" name="citas" formControlName="citas" value="false" >{{ organizacionService.selectedOrganizacion.citas }}
        <input type="checkbox" name="rup" formControlName="rup" value="false" >{{ organizacionService.selectedOrganizacion.rup }}
        <input type="checkbox" name="top" formControlName="top" value="false" >{{ organizacionService.selectedOrganizacion.top }}
    </fieldset>
    <div>
        <button class="btn btn-primary" type="submit">Agregar</button>
        <button class="btn btn-secondary" type="reset" (click)="resetForm(organizacionForm)">Reset</button>
    </div>
  </form>
</section>