<main id="layout" type="lateral">
    <ng-container *ngIf="sidebar == true ; then template"></ng-container>
    <section id="friso" class="flex-h">
        <div class="flex-h">
            <img src="" class="adi icon-andes" alt="">
            <h4>ANDES | Mapa de Implementacion</h4>
        </div>
        <nav>
            <a (click)="mostrarSidebar()">Inicio</a>
            <a routerLink="/listado">Listado</a>
            <a routerLink="/edicion">Edicion</a>
        </nav>
    </section>
    <div class="wrapper">
    <section id="mapa">
        <agm-map [latitude]="lat" [longitude]="lng" [styles]="estilosMapa">
            <ng-container *ngFor="let organizacion of organizacionList">
                <agm-marker [latitude]="organizacion.efector.lat" [longitude]="organizacion.efector.lng">
                    <agm-info-window [disableAutoPan]="true">
                        {{ organizacion.nombre }}
                        {{ organizacion.capacitados }}
                        {{ organizacion.rup }}
                    </agm-info-window>
                </agm-marker>
            </ng-container>
        </agm-map>
    </section>
    </div>
        <ng-template #template> 
        <section id="lateral">
                <router-outlet>
                    
                </router-outlet>
            </section>
        </ng-template>
</main>