<main id="layout" type="lateral">
    <ng-container *ngIf="sidebar == true ; then template"></ng-container>
    <section id="friso" class="flex-h">
        <button type="button" (click)="mostrarSidebar()">Sidebar</button>
        <app-friso>
        </app-friso>
    </section>
    <div class="wrapper">
    <section id="mapa">
        <agm-map [latitude]="lat" [longitude]="lng" [styles]="estilosMapa">
            <ng-container *ngFor="let organizacion of organizacionList">
                <agm-marker [latitude]="organizacion.efector.lat" [longitude]="organizacion.efector.lng">
                    <agm-info-window [disableAutoPan]="true">
                        {{ organizacion.nombre }}
                        {{ organizacion.capacitados }}
                        {{ organizacion.rup }}
                    </agm-info-window>
                </agm-marker>
            </ng-container>
        </agm-map>
    </section>
    </div>
        <ng-template #template> 
        <section id="lateral">
                <router-outlet>
                    
                </router-outlet>
            </section>
        </ng-template>
</main>