<section>
<router-outlet>  
    <h3>Organizaciones</h3>
  
    <!-- Busqueda & Filtro -->
    <input type="text" class="form-control" placeholder="Buscar o filtrar organizaciones" [(ngModel)]="searchTerm"/>
    
    <!-- Listado -->
      <ul *ngFor="let organizacion of organizacionList | organizacion: searchTerm">
        <li class="item">
          <div class="adi icon-hospital border rounded"></div>
            <div class="flex-v">  
                <!-- Badge -->
                <div class="flex-h justify-start">
                  <span class="badge">{{ organizacion.efector.tipo }}</span>
                  <span class="badge">{{ organizacion.capacitados }} capacitados</span>
                  <div class="" [ngClass]="organizacion.nota ? 'badge-nota' : 'no-icon'"><i class="adi" [ngClass]="'icon-documento'"></i></div>
                </div>
      
                    <p class="item-subtitulo {{ organizacion.municipio }}">{{ organizacion.efector.municipio }}</p>
                
            </div>              
              <!-- Binding de iconos -->
              <div class="flex-h">
                <!-- <div class="" [ngClass]="organizacion.mpi ? 'badge-modulos' : 'no-icon'"><i class="adi" [ngClass]="organizacion.mpi ? 'icon-mano-corazon' : ''"></i></div>
                <div class="" [ngClass]="organizacion.citas ? 'badge-modulos' : 'no-icon'"><i class="adi" [ngClass]="organizacion.citas ? 'icon-turno' : ''"></i></div>
                <div class="" [ngClass]="organizacion.rup ? 'badge-modulos' : 'no-icon'"><i class="adi" [ngClass]="organizacion.rup ? 'icon-hallazgo' : ''"></i></div>
                <div class="" [ngClass]="organizacion.top ? 'badge-modulos' : 'no-icon'"><i class="adi" [ngClass]="organizacion.top ? 'icon-hombre-caminando' : ''"></i></div> -->

              <!-- Botonera -->
                <button class="editar warning" (click)="onEdit(organizacion)"><i class="icon-lapiz"></i></button>
                <button class="ver success" (click)="verDetalle(organizacion)"><i class="icon-informacion"></i></button>
                <button class="borrar danger" (click)="onDelete(organizacion.$key)"><i class="icon-cruz"></i></button>
              </div>
          </li>
      </ul>
    </router-outlet>
  </section>

