/* You can add global styles to this file, and also import other style files */
// $adi-font-path: '~@andes/icons/iconos/';
// @import '~@andes/icons/scss/andes-icons';

// Layout
@import './assets/scss/layout';

// Variables
@import './src/assets/scss/_variables.scss';

// ANDES - Icons
@import './assets/iconos/andes-font.css';


// Globales
body {
    font-family: sans-serif;
    margin: 0;
}

ul {
    padding: 0px;
    
    li {
        list-style: none;
    }
}

.border {
    border: 2px solid;
}

.rounded {
    border-radius: 25px;
    padding: 10px;
}

// Estilizado layout
div.wrapper {
    background-image: $andes-degrade;
}

#lateral {
    padding: 1rem;
    background-color: $andes-azul-oscuro;
    color: white;

    h5 {
        margin-bottom: 0.5rem;
    }
}

.botonera {
    height: 5vh;
}

// Componentes
select, input {
    width: 100%;
    height: 25px;

    &#capacitados {
        width: 75px;
    }
}

input, textarea, select, hr {
    border-radius: 5px;
    &.w-100 {
        width: 100%;
    }
    
    &.w-50 {
        width: 50%;
    }
}


// Items
.no-icon {
    display: none;
}

%baseButton {
    height: 2rem;
    width: fit-content;
    max-width: 100px;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0 10px;
    font-weight: bolder;
    border: none;
}


// Botones
button {
    @extend %baseButton;
}

.badge {
    border: solid 1px $andes-azul;
    padding: 5px;
    text-transform: uppercase;
    color: $andes-azul;
    font-size: .5rem;
}

.success {
    @extend %baseButton;
    background: $andes-verde;
}

.warning {
    @extend %baseButton;
    background: $andes-naranja;
}


.danger {
    @extend %baseButton;
    background: $andes-magenta;
}

.info {
    @extend %baseButton;
    background: $andes-azul;
}


// Disposicion
.flex-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.justify-start {
    justify-content: flex-start;
}

.self-end {
    align-self: flex-end;
}

.items-end {
    align-items: flex-end;
}