/* You can add global styles to this file, and also import other style files */
// $adi-font-path: '~@andes/icons/iconos/';
// @import '~@andes/icons/scss/andes-icons';

// Layout
@import './assets/scss/layout';

// Variables
@import './src/assets/scss/_variables.scss';

// ANDES - Icons
@import './assets/iconos/andes-font.css';


// Globales
body {
    font-family: sans-serif;
}

ul {
    padding: 0px;
    
    li {
        list-style: none;
    }
}



// Items
.no-icon {
    display: none;
}

%baseButton {
    height: 2rem;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0 10px;
    font-weight: bolder;
    border: none;
}

button {
    @extend %baseButton;
    
    &:first-child {
        margin-right: 10px;
    }
}

.success {
    @extend %baseButton;
    background: green;
}

.warning {
    @extend %baseButton;
    background: orange;
}



// Estilizado layout
#lateral {
    padding: 1rem;
    background-color: $andes-azul-oscuro;
    color: white;

    input {
        width: 100%;
    }

    h5 {
        margin-bottom: 0.5rem;
    }
}
