$colorMpi: #00a8e0;
$colorRup: #f15a24;
$colorCitas: #e3007e;
$colorTop: #982f98;
$colorHuds: #0071bc;
$colorInter: #9e005d;
$colorCarpet: #a67c52;
$colorLab: #00b9b1;
$colorRepo: #f4a03b;
$colorApp: #26bbef;

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(60px , 1fr));
    grid-gap: 20px;

    // Colores modulos
    .border {
        border: 2px solid;
    }

    .colorMpi {
        color: $colorMpi;
    }
    
    .colorRup {
        color: $colorRup;
    }
    
    .colorCitas {
        color: $colorCitas;
    }
    
    .colorTop {
        color: $colorTop;
    }
    
    .colorHuds {
        color: $colorHuds;
    }
    
    .colorInter {
        color: $colorInter;
    }
    
    .colorCarpet{
        color: $colorCarpet;
    }
    
    .colorLab {
        color: $colorLab;
    }
    
    .colorRepo {
        color: $colorRepo;
    }
    
    .colorApp {
        color: $colorApp;
    }

    // Estados modulos
    .activo {
        color: orange;
    }
    
    // Override checkboxes
    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
        margin: 5px;
        width: 28px;
        height: 28px;
        padding: 10px;
        border-radius: 50%;


        &:hover {
            mix-blend-mode: screen;
        }

        input[type=checkbox] {
            visibility: hidden;
        }

        p {
            text-transform: uppercase;
            font-size: 0.7rem;
            margin: 0;
        }
    }
}