<h5>Modulos implementados en la organizacion</h5>
<hr>
<!-- Item activo con ngStyle -->
<div class="contenedor-grid">
    <label *ngFor="let modulo of organizacionService.modulos" class="adi icon-{{ modulo.icono }} border {{ modulo.color }}" >
        <input type="checkbox" name="{{ modulo.iniciales }}" formControlName="{{modulo.iniciales}}" value="modulo" [checked]="modulo.iniciales">
        <p>{{ modulo.iniciales }}</p>
    </label>
</div>

    <!-- Input desde .scss -->
    <!-- <div class="checkbox adi icon-{{ modulo.icono }} {{ modulo.color }}" *ngFor="let modulo of organizacionService.modulos">
        <input type="checkbox" id="modulo" name="{{ modulo.iniciales }}" formControlName="{{modulo.iniciales}}" value="modulo">{{ organizacionService.selectedOrganizacion.iniciales }}
        <label for="modulo"></label>
    </div> -->
